<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="5" verbose="0" name="AllBrowsersSuite" parallel="classes">

    <test thread-count="5" verbose="0" name="Surefire test">

        <classes>
            <class name="org.andestech.learning.rfb19.g4.ChromeAppTest"/>
            <class name="org.andestech.learning.rfb19.g4.FirefoxAppTest"/>
            <class name="org.andestech.learning.rfb19.g4.IEAppTest"/>
        </classes>

    </test>

</suite>
